.label {
  display: inline-flex;
  align-items: center;
}

.icon {
  padding-left: 0.5em;
}

.icon.hide {
  visibility: hidden;
}

.exceed-slider {
  display: flex;
}

.exceed-slider .slider {
  flex: auto;
}

.exceed-slider .input-number {
  margin-left: 2em;
  width: 100px;
}
