.background {
  background-image: linear-gradient(
    to bottom right,
    rgba(var(--semi-green-0), 1),
    rgba(var(--semi-light-blue-0), 1)
  );
}

.button-group {
  white-space: nowrap;
  padding-left: 1em;
}

.canvas-container {
  height: calc(100vh - 32px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.canvas-container .canvas {
  box-sizing: border-box;
  background-color: white;
  padding: 1em;
  border: 2px solid black;
  border-radius: 1em;
  max-width: 100vw;
  max-height: calc(100vh - 32px);
}
