.background {
  background-image: linear-gradient(
    to bottom right,
    rgba(var(--semi-green-0), 1),
    rgba(var(--semi-light-blue-0), 1)
  );
}

.button-group {
  white-space: nowrap;
  padding-left: 1em;
}

.canvas-container {
  min-height: calc(100vh - 32px);
  display: grid;
  place-items: center;
}

.canvas-container .canvas {
  background-color: white;
  padding: 1em;
  border: 2px solid black;
  border-radius: 1em;
}
